
    <div class="head"> 
        
        <div  style="text-align:center;">
          <img  src="assets/img/student.jpg">
        </div>
          <h1>
              Find a Teacher!
          </h1>
        
        
          <h2>The site was set up to help students <br>find a private teacher in all areas of study<br>
              by a large pool of private teacher<br> and also help private teachers insert them <br>into the wider pool.</h2>

        <div class="end">

          <h5>addres: zeev haklay 2 jerusalem</h5>
          <h5>mail: <a href="mailto:meirohayon83@gmail.com">meirohayon83@gmail.com</a></h5>
          <h5>telephone: 0527656365</h5>
                
        </div> 

    </div>
        

    