
<mat-sidenav-container class="sidenav-container">

 <mat-sidenav #drawer
     class="sidenav"
     [ngClass]="{hidden:(isHandset$ | async) === false}"
     fixedInViewport
     [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
     [mode]="(isHandset$ | async) ? 'over' : 'side'"
     [opened]="(isHandset$ | async) === false">

   <mat-toolbar>Menu</mat-toolbar>

   <mat-nav-list>
 
      <a mat-list-item  routerLink="/post" > <mat-icon matSuffix>add_circle</mat-icon>add</a>
      <a mat-list-item   routerLink="/list" ><mat-icon matSuffix>search</mat-icon>SEARCH</a>
      <a mat-list-item *ngIf="!authService.loggedIn()" routerLink="/login" ><mat-icon matSuffix >power_on</mat-icon>LOGIN</a>
      <a mat-list-item *ngIf="authService.loggedIn()" (click)="authService.logOutUser()"><mat-icon>power_off</mat-icon>LOGOUT</a>

   </mat-nav-list>

 </mat-sidenav>


 <!-- for regular  -->
 <mat-sidenav-content>
 
 <mat-toolbar style="background-color:gray">
   <button
     type="button"
     aria-label="Toggle sidenav"
     mat-icon-button
     (click)="drawer.toggle()"
     *ngIf="isHandset$ | async"
   >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
 
   </button>
  
    <a mat-button routerLink="/"><mat-icon  matSuffix>home</mat-icon>HOME</a>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf= "run" >hello: {{run}}</button>

   <mat-menu #menu="matMenu">

       <a  mat-button routerLink = '/userPage/ {yourID()}' ><mat-icon>update</mat-icon>Update Account</a><br>
       <a  mat-button (click)="toDelete()"><mat-icon>delete</mat-icon>delete</a><br>
       <a mat-button *ngIf="authService.loggedIn()" (click)="authService.logOutUser()"><mat-icon>power_off</mat-icon>logout</a><br>

   </mat-menu>
 
      <span class="spacer"></span> 
     
   <div  [ngClass]="{hidden:(isHandset$ | async) === true}"> 
         
       <a mat-button  routerLink="/post" > <mat-icon matSuffix>add_circle</mat-icon>add</a>
       <a mat-button [matBadge]= count routerLink="/list" ><mat-icon matSuffix>search</mat-icon>SEARCH</a>
       <a mat-button *ngIf="!authService.loggedIn()" routerLink="/login" ><mat-icon matSuffix >power_on</mat-icon>LOGIN</a>
       
   </div>
  

  </mat-toolbar> 
 
   <router-outlet></router-outlet>
 
   
 </mat-sidenav-content>
</mat-sidenav-container>
 